<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CustomIdentity"
		connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=CustomIdentity;Trusted_Connection=true;Integrated Security=SSPI;"/>
	</connectionStrings>
	<appSettings>
		<add key="AdminEmail" value="darion96@ethereal.email"/>
		<add key="AdminPassword" value="jk3hx9ES2wkPaSJXXW"/>
		<add key="SMTPServer" value="smtp.ethereal.email"/>
		<add key="SMTPPort" value="587"/>
		<add key="SSL" value="false"/>
	</appSettings>
</configuration>